.grid-parent{
    display: grid;
    grid-template-rows: 80px 80px auto 100px 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.title{
    text-align: center;
    display: grid;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: 18px;
    background-color:white;
}

.instruction{
    font-size: 18px;
    background-color: white;
}

.story{
    font-size: 18px;
    background-color: white;
}

.question{
    font-size: 18px;
    background-color: white;
}

.choices{
    font-size: 18px;
    background-color: white;

}

.continue{
    margin-left: 10%;
    margin-right: 10%;
}

.t_note{
    margin-left: 10%;
    margin-right: 10%;
}


form {
    margin-left: 10%;   
    line-height: 200%;
}

.submitbutton{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    border-radius: 12px;
    width: 100px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    float: right;
}